@use '@material/typography/mixins' as typography;
@use '@material/typography/mdc-typography';

:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-secondary: #676778;
}
small {
  padding-bottom: 1vw;
}
html {
  @include typography.typography('body1');
}
h1 {
  @include typography.typography('headline1');
  font-size: 5vh
}
h2 {
  @include typography.typography('headline2');
  font-size: 4vh
}
h3 {
  @include typography.typography('headline3');

  font-size: 3vh
}
h4 {
  @include typography.typography('headline4');
  font-size: 2vh
}
h5 {
  @include typography.typography('headline5');
  font-size: 2vh
}
h6 {
  @include typography.typography('headline6');
  font-size: 2vh
}
caption {
  @include typography.typography('caption');
}
code,
small {
  font-size: 0.9em;
}
big {
  font-size: 1.1em;
}
b,
strong {
  font-weight: bold;
}
